<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="sign d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="sign-heading mb-4">Create New Account</h3>
  
                <!-- Sign In Form -->
                <form >
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="firstname" name="firstname"  class="form-control" placeholder="First Name" formControlName ="firstname" >
                        
                      </div>
                    </div>
    
                    <div class="col-md-6 mb-4 ">
                      <div class="form-outline">
                        <input type="text" id="lastname"    class="form-control" placeholder="Last Name" formControlName ="lastname" >
                        
                        </div>
                     </div>
                    </div>
    
                  <div class="row">
    
                    <div class="col-md-6 mb-4 d-flex align-items-center">
                      <div class="form-outline">
                      <input type="date" class="form-control" id="dob" name="dob" placeholder="Birthday" formControlName = "dob" >
                       
                      </div>   
                    </div>
                    
                  </div>
  
    
                  <div class="row">
                      <div class="col-md-6 mb-4 d-flex align-items-center">
                          <div class="form-outline ">
                            <input type="text" class="form-control" id="telno" name="telno"  placeholder="Mobile Number" formControlName = "telno" >  
                           
                          </div>
                        </div>
                  </div>
    
                  <div class="row">
                      <div class="col-md-6 mb-4 d-flex align-items-center">
                          <div class="form-outline">
                            <input type="text" class="form-control" id="email" name="email"  placeholder="Email Address" formControlName="email"  >
                            
                          </div>
                        </div>
                  </div>
  
               
                  <div class="row">
                      <div class="col-md-6 mb-4 d-flex align-items-center">
                          <div class="form-outline ">
                            <input type="text" class="form-control" id="address" name="address"  placeholder="Address" formControlName="address" >
                           
                          </div>
                        </div>
                  </div>
    
                  <div class="row">
                      <div class="col-md-6 mb-4 d-flex align-items-center">
                          <div class="form-outline ">
                            <input type="password" class="form-control" id="password" name="password"  placeholder="Password" formControlName="password" >
                          
                          </div>
                        </div>
                  </div>
    
                  <div class="row">
                      <div class="col-md-6 mb-4 d-flex align-items-center">
                          <div class="form-outline ">
                            <input type="password" class="form-control" id="confirmPassword" placeholder="Re Enter Password" formControlName="confirmPassword" >
                           
                          </div>
                        </div>
                  </div>
    
                  <div class="d-grid">
                    <button class="btn btn-lg btn-primary btn-sign text-uppercase fw-bold mb-2" type="submit">Sign Up</button>
                    <div class="text-center">
                      <a class="small" routerLink="../home">Back to Home</a>
                    </div>
                  </div>
    
    
                </form>
  
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  