.foget {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('../../assets/images/logo.png');
    background-size: cover;
    background-position: center;
  }
  
  .foget-heading {
    font-weight: 300;
  }
  
  .btn-foget {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    margin-top: 30px;
  }
  
  a:link {
    text-decoration: none;
  
  }
  
  a:hover {
    text-decoration: underline;
  }
  