<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="foget d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="foget-heading mb-4">Foget Password</h3>
                <h6 class="foget-heading mb-4">Type in your email address and we will send you a link to reset your password.</h6>
  
                <!-- fogot password -->
                <form >
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control"  placeholder="name@example.com" id="email" name="email"  formControlName="email" class="form-control"   id="inputEmail4">
                   
                    <label for="floatingInput">Email address</label>
                  </div>
                  
  
                  <div class="d-grid">
                    <button class="btn btn-lg btn-primary btn-foget text-uppercase fw-bold mb-2" type="submit">Send</button>
                    <div class="text-center">
                      <a class="small" routerLink="../login">Back to Login</a>
                    </div>
                  </div>   
                </form>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  